{% extends 'main/base.html' %}

{% block title %}
Help
{% endblock %}

{% block content %}
    <!-- <audio autoplay loop>
        <source src="https://zvukipro.com/uploads/files/2020-12/1609052060_elevator-music-vanoss-gaming-background-music.mp3">
    </audio> -->
    <style>
        .mirrorY { transform: scale(-1, 1);
                   float: right; }
        p {
            font-size: 14pt;
        }
    </style>
    <div>
        <h1 style = "text-align:center">Help</h1>
        <p style = "text-align:center">
            This application is designed for lexical, grammatical and syntax analysis of natural language.</br>
            The application has three modes of operation.</br></br>
            The first is text processing, it is designed to select lexemes from the text and output them with additional information (part of speech, prefixes, suffixes).</br>
            For text processing it is enough to write it manually or load it from a file and click the "Process" button.</br>
            All information will appear in the table.</br></br>
            All detected lexemes and their information is saved, so you can see their list in the "Saved Words" tab.</br>
            Also, this tab has the ability to search for a particular lexeme and if want you can delete some lexemes or the whole table.</br></br>
            The second mode is generation of word forms, based on the selected parameters (the choice of prefixes, suffixes).</br>
            To generate word forms, enter the word and press the "Generate" button. The whole list of word forms will appear in the table.</br></br>
            The third mode is syntax analysis, it is designed to build the syntax tree from the text.</br>
            For syntax analysis of the text it is enough to write it manually or load it from a file and click the "Analyze" button.</br></br>
            The fourth mode is semantic analysis, it is designed to build the semantic tree from the text.</br>
            For semantic analysis of the text it is enough to write it manually or load it from a file and click the "Analyze" button.</br></br>
            The last one is a "chat" that helps you get information about animals by sending messages.

        </p>
        <p style = "text-align:center"><strong>Tags for parts of speech:</strong></p>
        <table class="table table-striped">
            <thead>
            <tr>
            <th>Abbreviation</th>
            <th>Meaning</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>CC</td>
            <td>coordinating conjunction</td>
            </tr>
            <tr>
            <td>CD</td>
            <td>cardinal digit</td>
            </tr>
            <tr>
            <td>DT</td>
            <td>determiner</td>
            </tr>
            <tr>
            <td>EX</td>
            <td>existential there</td>
            </tr>
            <tr>
            <td>FW</td>
            <td>foreign word</td>
            </tr>
            <tr>
            <td>IN</td>
            <td>preposition/subordinating conjunction</td>
            </tr>
            <tr>
            <td>JJ</td>
            <td>This NLTK POS Tag is an adjective (large)</td>
            </tr>
            <tr>
            <td>JJR</td>
            <td>adjective, comparative (larger)</td>
            </tr>
            <tr>
            <td>JJS</td>
            <td>adjective, superlative (largest)</td>
            </tr>
            <tr>
            <td>LS</td>
            <td>list market</td>
            </tr>
            <tr>
            <td>MD</td>
            <td>modal (could, will)</td>
            </tr>
            <tr>
            <td>NN</td>
            <td>noun, singular (cat, tree)</td>
            </tr>
            <tr>
            <td>NNS</td>
            <td>noun plural (desks)</td>
            </tr>
            <tr>
            <td>NNP</td>
            <td>proper noun, singular (sarah)</td>
            </tr>
            <tr>
            <td>NNPS</td>
            <td>proper noun, plural (indians or americans)</td>
            </tr>
            <tr>
            <td>PDT</td>
            <td>predeterminer (all, both, half)</td>
            </tr>
            <tr>
            <td>POS</td>
            <td>possessive ending  (parent\ ‘s)</td>
            </tr>
            <tr>
            <td>PRP</td>
            <td>personal pronoun (hers, herself, him, himself)</td>
            </tr>
            <tr>
            <td>PRP$</td>
            <td>possessive pronoun (her, his, mine, my, our )</td>
            </tr>
            <tr>
            <td>RB</td>
            <td>adverb (occasionally, swiftly)</td>
            </tr>
            <tr>
            <td>RBR</td>
            <td>adverb, comparative (greater)</td>
            </tr>
            <tr>
            <td>RBS</td>
            <td>adverb, superlative (biggest)</td>
            </tr>
            <tr>
            <td>RP</td>
            <td>particle (about)</td>
            </tr>
            <tr>
            <td>TO</td>
            <td>infinite marker (to)</td>
            </tr>
            <tr>
            <td>UH</td>
            <td>interjection (goodbye)</td>
            </tr>
            <tr>
            <td>VB</td>
            <td>verb (ask)</td>
            </tr>
            <tr>
            <td>VBG</td>
            <td>verb gerund (judging)</td>
            </tr>
            <tr>
            <td>VBD</td>
            <td>verb past tense (pleaded)</td>
            </tr>
            <tr>
            <td>VBN</td>
            <td>verb past participle (reunified)</td>
            </tr>
            <tr>
            <td>VBP</td>
            <td>verb, present tense not 3rd person singular(wrap)</td>
            </tr>
            <tr>
            <td>VBZ</td>
            <td>verb, present tense with 3rd person singular (bases)</td>
            </tr>
            <tr>
            <td>WDT</td>
            <td>wh-determiner (that, what)</td>
            </tr>
            <tr>
            <td>WP</td>
            <td>wh- pronoun (who)</td>
            </tr>
            <tr>
            <td>WRB</td>
            <td>wh- adverb (how)</td>
            </tr>
            </tbody>
            </table>
        <!-- <img src="https://media.tenor.com/xdwSi1-JLoYAAAAi/pipkin-pippa.gif" alt="pipkin-pipa" width="152.5" height="249" />
        <img src="https://media.tenor.com/xdwSi1-JLoYAAAAi/pipkin-pippa.gif" alt="pipkin-pipa" width="152.5" height="249" class="mirrorY" /> -->
    </div>
{% endblock %}